* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.keyboard {
  background: #ccc;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 4px;
  width: 750px;
}
.textarea{
  width: 750px;
  min-height: 200px;
}
.mark{
  font-size: 14px;
  font-weight: 700;
}
.button {
  background: #4c5256;
  margin: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  transition: all 200ms;
}
.button:hover:not(.active) {
  background: #6e7376;
}

.system {
  background: #353738;
}
.Backspace {
  width: 90px;
}
.Tab{
  width: 60px;
}
.ShiftLeft {
  width: 90px;
}
.ShiftRight{
  width: 90px;
}
.Backslash{
  flex-grow: 1;
}
.Enter{
  flex-grow: 1;
}
.CapsLock{
  width: 80px;
}
.Space{
  flex-grow: 1;
}
.active{
  background: red;
  border-radius: 20px;
}